html, body { height: 100%; }

#status {
  font-size: 300%;
  width: 100%;
  text-align: center;
  color: green;
  margin-bottom: 20px;
  text-shadow: 0px 1px 1px rgba(0,0,0,.3);
}

div.buttons {
  text-align: center;
  width: 100%;
}

body {
  /*background: radial-gradient(ellipse at center, rgba(231,76,60,1) 0%,rgba(192,57,43,1) 100%);*/
  background-image:url('home.png');
  color: #fff;
  font-family: MozTT, sans-serif;
  font-size: 12px;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  height: 461px;
  width: 321px;
  background-repeat: no-repeat;
}

img.contactAvatar {
  float:left;
  cursor: pointer;
  margin-right: 10px;
}

div.contactEmail {
  float:left;
  cursor: pointer;
  vertical-align: middle;
  display:table-cell;
  padding-top: 30px;
}

.clickable {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

h1 { font-size: 1.5rem; }

a {
  color: #FFA49E;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,.3);
}
a:hover { color: #fff; }

input, button, select, textarea {
  border-radius: 0;
  box-shadow: none;
}

input[type=submit] {
  border: none;
  padding: .15rem .2rem;
  width:10%;
  cursor: pointer;
}

input[type=text], textarea, select {
  font-family: MozTT, sans-serif;
  font-size: .8rem;
  font-weight: 300;
  padding: .3rem .3rem;
  width:80%;
}

div.persona {
  float: right;
  padding-right: 5px;

}

#signin, #signout {
  cursor: pointer;
}

article {
  padding: 7px;
  font-size: 125%;
}


#contacts {
  display:table;
  width: 100%;
  list-style: none;
  height: 100%; 
  overflow: auto;
}

ul:nth-of-type(1) {
 list-style-position: inside;
 padding: 0;
}

#contacts li {
   width: 100%;
   vertical-align: middle;
   margin-bottom: 5px;
   background-color: rgba(0, 0, 0, 0.2);
   clear: both;
   height: 80px;
}

#contacts span {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

div.addContact {
  width: 100%; 
  height: 70px;
  bottom: 0px;
  padding-top: 8px;
  font-style: italic;
}

#message {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 4px;
  font-weight: bold;
  position: absolute;
  font-style: italic;
  bottom: 0px;
}

#message-body {
  margin-bottom: 10px;
}

footer {
  width: 100%; 
  bottom: 0px;
  position: absolute;
  padding-top: 4px;
  padding-bottom: 4px;
  font-style: italic;
}

#tabs {
  height: 80%;
  margin: 4px;
  padding: 5px;
  background: none;
  border: none;
}

.ui-tabs, .ui-tabs-panel {
 padding: 2px;
 background: none;
 border: none;
}

li.ui-state-active {
  background-color: white;
}

#tabs-1 {
  background: none;
}

#tabs-2 {
  background-color: white;
}

#tabs-1-button, #tabs-2-button {
  background: none;
  border: 1px solid #c2c2c2;
}

#tabs-1, #tabs-2 {
 padding: 4px;
 padding-top: 10px;
}

.ui-tabs-nav, .ui-state-active {
  background: none;
  border: none;
}

.ui-tabs-anchor {
  padding: 0px;
}
#contacts img {
  vertical-align: middle;
}

img.delete {
  float: right;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 4px;
}


/**
 * Modules
 */

/*View Module*/
[role=region] {
  background: none; /*radial-gradient(ellipse at center, #f2f2f2 0%, #c2c2c2 100%);*/
  top: 0; right: 0; bottom: 0; left: 0;
  /*position: fixed;*/
  overflow-x: hidden;
  margin-top: 75px;
}
[role=region] > header {
  margin: .5rem 0 1rem 0;
  text-align: center;
  font-size: 120%;
  color: black;
  font-weight: bold;
}
[role=region] > header > h1 {
  margin: 0;
  text-shadow: 0px 1px 1px rgba(0,0,0,.4);
}
[role=region] > .view-content {
  margin: 0 1rem 4rem 1rem;
}
[role=region] > footer {
  background: rgba(0,0,0,.7);
  right: 0; bottom: 0; left: 0;
  position: fixed;
  text-align: center;
}
[role=region] > footer > menu[role=toolbar] {
  margin: 0;
  padding: 0;
}

/*Button Module*/
.btn {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
}
.btn > span {
  display: none;
}
.btn:disabled {
  opacity: .2;
}
.btn.done {
  background: url(../img/check.svg) no-repeat center center;
}
.btn.add {
  background: url(../img/add.svg) no-repeat center center;
}
.btn.del {
  background: url(../img/del.svg) no-repeat center center;
}
.btn.edit {
  background: url(../img/edit.svg) no-repeat center center;
}
.btn:hover {
  background-color: rgba(255,255,255,.1);
}

/*List Module*/
.todo-list > li {
  border-bottom: 1px solid rgba(255,255,255,.1);
  position: relative;
}
.todo-list > li > .btn {
  top: 0; right: 0;
  position: absolute;
  height: 3.9rem;
}
.todo-list label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 1rem 2.8rem 1rem 1rem;
}
.todo-list > li:last-child,
.todo-list > li:last-child > label {
  border-bottom: none;
}
.todo-list label > span {
  transition: all .5s;
}
.todo-list input[type=checkbox]:checked + span {
  text-decoration: line-through;
  opacity: .4;
}
.todo-list > li > input[type=text] {
  margin: .4rem;
  /* removing input padding and margin from 100% */
  width: calc(100% - 2.3rem);
}


/**
 * Utility
 */
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
[aria-hidden=true] {
  display: none !important;
}


/**
 * Animations
 */
.slide-up-in {
  animation-name: slide-up-in;
  animation-duration: .6s;
  transform: translateY(0%);
  opacity: 1;
}
@keyframes slide-up-in {
  0% { transform: translateY(30%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

.slide-down-out {
  animation-name: slide-down-out;
  animation-duration: .6s;
  transform: translateY(30%);
  opacity: 0;
}
@keyframes slide-down-out {
  0% { transform: translateY(0%); opacity: 1; }
  100% { transform: translateY(30%); opacity: 0; }
}

.slide-right-in {
  animation-name: slide-right-in;
  animation-duration: .6s;
  transform: translateX(0%);
}
@keyframes slide-right-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.slide-left-out {
  animation-name: slide-left-out;
  animation-duration: .6s;
  transform: translateX(-100%);
}
@keyframes slide-left-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}